.o-drop-zone {
  width: 100%;
  height: 12px;
  background-size: 6px 6px !important;
  background-image: linear-gradient(-45deg, transparent 46%, rgba(0, 0, 0, 0.38) 49%, rgba(0, 0, 0, 0.38) 51%, transparent 55%);
  &.dnd-drag-enter {
    height: 36px;
  }
}
