<div *ngFor="let comp of components; let i = index;" class="odf-element-container" fxLayout="column">

  <div [ngClass]="{'component-container': isContainerComponent(comp), 'component': !isContainerComponent(comp)}">

    <odf-element-options
      *ngIf="editMode"
      [component]="comp"
      [edit-component-settings-emitter]="editComponentSettingsEmitter"
      [delete-component-emitter]="deleteComponentEmitter">
    </odf-element-options>

    <odf-element
      fxLayout="column"
      [component]="comp"
      [render]="render"
      [edit-mode]="editMode"
      [add-component-emitter]="addComponentEmitter"
      [edit-component-settings-emitter]="editComponentSettingsEmitter"
      [delete-component-emitter]="deleteComponentEmitter">
    </odf-element>

  </div>

  <o-drop-zone fxFlex
    *ngIf="editMode"
    for-children="false"
    [component]="comp"
    [add-component-emitter]="addComponentEmitter">
  </o-drop-zone>

</div>
