<div fxFlex fxFlexFill fxLayout="column">

  <o-drop-zone fxFlex
    *ngIf="editMode"
    [add-component-emitter]="onAddComponent">
  </o-drop-zone>

  <ng-template ngFor let-component [ngForOf]="formDefinition?.components">
    <odf-component fxFlex layout-padding
      *ngIf="ready"
      [component]="component"
      [edit-mode]="editMode"
      (render)="onComponentRendered()"
      (change)="$event.stopPropagation()"
      [add-component-emitter]="onAddComponent"
      [edit-component-settings-emitter]="onEditComponentSettings"
      [delete-component-emitter]="onDeleteComponent">
    </odf-component>
  </ng-template>

</div>
