<div flex layout-fill>

  <div *ngIf="editMode" dnd-droppable (onDropSuccess)="onDropEnd($event)"
    class="dynamic-form-drop-zone"
    [class.full-height-drop-zone]="!areEmptyComponents">
  </div>

  <odf-components #odfComponents
    *ngIf="ready"
    [components]="formDefinition"
    [edit-mode]="editMode"
    (render)="onComponentsRendered()"
    [add-component-emitter]="onAddComponent"
    [edit-component-settings-emitter]="onEditComponentSettings"
    [delete-component-emitter]="onDeleteComponent">
  </odf-components>

</div>
